<!DOCTYPE html>  <!-- boiler plate-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP APP  | LOGIN PAGE</title>
</head>
<body style = "background-color :#E6E6FA">

    <h1> NLP APP</h1>    <!-- h1 gives a heading-->

    <h3>Login Here</h3>

    {% if message %}                                  <!-- this is a jinja template using which we can write python codes in html-->
        <p style = "color:green">{{ message }}</p>    <!-- the message will be displayed in green colour -->
    {% endif %} <!--in jinja template, we will have to close the "if" loop using "endif-->
    {%if mess%}
        <p style = "color: Red">{{mess}}</p>
    {%endif%}
    <form action="/perform_login"  method="post">  <!-- making a login form-->
        <label>Email</label><br>     <!--br is used to change the line-->
        <input type="Email" name = "user email" required><br><br>    <!--taking an input from the user where type is email-->
        <label>Password</label><br>
        <input type="password" name = "user password" required><br><br>
        <input type="submit" value ="Login">
    </form>

    <p>Not a member? <a href="/register">Register Here</a></p>  <!--</a> tag is called an anchor tag and it makes a hyperlink. <p> tag defines a paragraph-->
</body>
</html>



